:root{
	--primary-color			: #000000;
	--secondary-color		: #ed6600;
}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#carousel-home .owl-carousel .owl-slide,
#carousel-home-2 .owl-carousel .owl-slide {
  height:100vh !important;
  position:relative
}
.theme-color{
    color: var(--secondary-color);
}
.btn_1:hover{
    background-color: rgb(0, 0, 0);
}
.popup-form{
    max-width: 500px;
    max-height: 609px;
}
.form-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 15px;
}
.form-logo>img{
}
.enquiry-form{
    padding: 20px 30px;
}


/* counter section  */
.counter-section {
    background: url('../images/index/counter-bg.jpg') no-repeat center center/cover;
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
}
.counter-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    p{
        font-size: x-large;
    }
}
.counter-number {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    
}
.we-assure-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.we-assure-image>img{
    width: 200px;
    border-radius: 35%;
}

h1, h2, h3, h4  {
	color: rgb(239, 100, 10); /*if no support for background-clip*/
}

.with-shadow {
  text-shadow: 0px 0px 20px rgb(239, 100, 10);
}
.bg_black{
    background-color: #000 !important;
}
/* golden button  */
.btn-69 {
    width: 100%;
    display: inline-block;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 13px 25px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(110, 80, 20, 0.4),
                inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg,  #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*** full width block ***/
    /* width: 100%; */
}

.btn-69:focus,
.btn-69:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);
}

.btn-69:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(110, 80, 20, 0.4),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}

.btn-69:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
    text-shadow: none;
    border-color: #c2c2c2;
}
/* gold shine  */
.gold {
  font-size: 5vw;
  /* text-align: center; */
  background: linear-gradient(90deg, rgb(247, 96, 5) 0%, rgb(23, 16, 21) 20%, rgb(197, 82, 7) 39%, rgb(240, 99, 7) 50%, rgb(213, 85, 1) 60%, rgb(237, 102, 0) 80%, rgb(237, 102, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
  animation: shine 3s infinite;
  background-size: 200%;
  background-position: left;

}
@keyframes shine {
  to{background-position: right}
 
}
p{
    color: rgb(88, 88, 88) !important;
}

.theme-text-col{
    background: linear-gradient(90deg, #b8860b, #ffd700, #b8860b);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;


}

.btn-77 {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #f9f9f9, #c4c4c4, #fff, #bebebe, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: rgb(121, 103, 3);
    font-weight: 600;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    /*** full width block ***/
    width: 220px;
    color: #000 !important;
}

.logoIcon path {
    fill: rgb(121, 103, 3);
}

.btn-77:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}

.btn-77:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
}

/* 4s css file edited  */
    .logo-loader-4s {
      width: 145px;
      transform: translateX(-100%);
      animation: fadeLogo4s 4s ease-in-out infinite;
      animation: slideInFade4s 2s ease-out forwards;
    }

    @keyframes slideInFade4s {
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadeLogo4s {
      0% {
        opacity: 0.2;
        transform: scale(0.95);
      }
      50% {
        opacity: 0.7;
        transform: scale(1);
      }
      100%{
        opacity: 1;
        transform: scale(1);
      }
    }
.div-contact-block a{
    padding-top: 9px;
  color: #2f2f2f ;
  font-size: 16px;
  font-weight: 600;
}
.div-contact-block a:hover{
    color: var(--secondary-color);
}

